@tailwind base;
@tailwind components;
@tailwind utilities;


/* En tu archivo de estilos CSS */
.custom-alert {
    background-color: #d4edda; /* Color de fondo para mensajes de éxito */
    border-color: #c3e6cb; /* Color del borde */
    color: #155724; /* Color del texto */
    padding: 15px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados */
    margin-bottom: 20px; /* Margen inferior */
}
